<!DOCTYPE html>
<html lang="en">

<head>
    <title>Live Stream - Cygnus</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/video-js.min.css" rel="stylesheet">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/cygnus-video.css" rel="stylesheet">

    <script src="/js/video.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>

<body>
    <div class="page" id="app">
        <div id="logo">
            <img src="/res/logo.svg">
        </div>
        <div class="page__sidebar">
            <a href="/" class="active" title="Live stream">
                <i class="fas fa-fw fa-video"></i>
            </a>
            <a href="#" title="Storage">
                <i class="fas fa-fw fa-hdd"></i>
            </a>
            <a href="#" title="Setting">
                <i class="fas fa-fw fa-cog"></i>
            </a>
        </div>
        <h1 class="page__header">
            Cashier #1
        </h1>
        <component is="live-page"></component>
    </div>

    <script type="module">
        // var player = videojs("video-viewer", { autoplay: true });
        import livePage from './js/page/live.js';
        var app = new Vue({
            el: '#app',
            components: {
                livePage
            }
        })
    </script>
</body>

</html>