<!DOCTYPE html>
<html lang="en">

<head>
    <title>Live Stream - Cygnus</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/video-js.min.css" rel="stylesheet">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/cygnus-video.css" rel="stylesheet">
    <link href="/css/cygnus-dialog.css" rel="stylesheet">

    <script src="/js/video.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>

<body>
    <div class="app" id="app">
        <div class="app-sidebar">
            <a href="/" title="Live stream">
                <i class="fas fa-fw fa-video"></i>
            </a>
            <a href="#" class="active" title="Storage">
                <i class="fas fa-fw fa-hdd"></i>
            </a>
            <a href="#" title="Setting">
                <i class="fas fa-fw fa-cog"></i>
            </a>
        </div>
        <component is="page-storage"></component>
    </div>

    <script type="module">
        // var player = videojs("video-viewer", { autoplay: true });
        import pageLive from './js/page/live.js';
        import pageStorage from './js/page/storage.js';

        var app = new Vue({
            el: '#app',
            components: {
                pageLive,
                pageStorage
            }
        })
    </script>
</body>

</html>